{erl_opts, [debug_info]}.

{deps, [{pobox, "1.2.0"}]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [eharbor]}]}.

{project_plugins, [rebar3_format, rebar3_ex_doc]}.

{plugins, [rebar_mix, rebar3_proper, rebar3_ex_doc, rebar3_hex]}.

{ex_doc,
 [{extras, ["README.md", "LICENSE"]},
  {main, "README.md"},
  {source_url, "https://github.com/loopsocial/eharbor"}]}.

{provider_hooks, [{post, [{compile, {mix, consolidate_protocols}}]}]}.

{cover_enabled, true}.

{cover_export_enabled, true}.

{eunit_opts, [{dir, "test"}]}.

%% The PropEr dependency is required to compile the test cases
%% and will be used to run the tests as well.
{profiles,
 [{test,
   [{deps,
     %% hex
     [{proper, "1.3.0"}]}]}]}.

{hex, [{doc, #{provider => ex_doc}}]}.
